.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 2s;
}

.slide-1{
    background-color: green;
}

.slide-2{
    background-color: blue;
    z-index: 10;
}

.slide-3{
    background-color: black;
}

.left {
    left: -100%;
}

.center {
    left: 0%;
}

.right {
    left: 100%;
}