.footer {
    width: 90%;
    height: 10%;
    background-color: #FFF;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top: #CFD2D6 solid 1px;
    box-sizing: border-box;
}

.footer span {
    color: #02355F;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}